html{
    display: flex;
}
body{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin: 0;
    flex:1;
}
.top-bar{
    flex-grow: 1;    
}

nav{
    display: flex;
    background-color: #753751;
    padding: 10px;
}

ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 60px;
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
    justify-content: center;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.title{
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    color: #F9FAF8;
}

.header-content{
    background-color: #1e1517;
    display: flex;
    justify-content: center;
}

h1{
    margin-top: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px ;
    
}

p, a, .feat-info{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.intro{
    
    text-align: center;
    align-items:center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.character{
    width:75%;
}

.head-image{

 flex-shrink: 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
 align-items: center;
 display: flex;
}

img{
    width: 100%;
    height: 80%;
    border: 5px #753751;
    border-radius: 6px;
    
}

.feats{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #0c060c;
    align-items: center;
}

.feat-heading h1{
    font-size: 36px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 10px;
    
}

.card-container{
    display: flex;
    gap: 20px;
    padding: 40px;
    flex-flow: wrap;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    height: 200px;
    width: 200px;
    
}

.card img{
    width: 100%;
    height: 100%;
}
 
.feat-info {
    width: 200px;
  }

 .quotes{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #753751;
 } 

 .quote-box{
    border: 1px solid #eee;
    border-radius: 10px;
    width: 500px;
    height: auto;
    font-size: 30px;
    color: #E5E7EB;
    margin: 50px;
 }

 .quote-box span{
    font-weight: bolder;
 }

.recruit{
    flex: 1;
    display: flex;
    background-color: #512d45;
    justify-content: center;
    align-items: center;
}

.recruit-banner{
    margin: 70px;
 background-color: #391517;
 border: 1px solid #eee;
 border-radius: 10px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 
}

.banner-info{
    width:75%;
}

.footer{
    background-color: #1c1724;
}

.footer p{
    text-align: center;
    padding: 30px;
}



